ul {
  list-style: none;
  display: flex;
}

.content {
  width: 700px;
  margin: 0 auto;
}

.error {
  border-color: rgba(255, 0, 0, 0.843);
  outline: none;
  color: rgba(255, 0, 0, 0.843);
}

.label-massage {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  height: 29px;
  width: 330px;
}

.label-radio {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 25px;
}

.radio {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
}

.label-radio img {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input:checked + .label-radio > img {
  border: 2px solid black;
}

.wrapping {
  display: flex;
  margin-bottom: 30px;
}

.clendar-wrapper {
  margin-bottom: 50px;
}
