.product__wrapper {
  display: block;
  width: 300px;
  height: 400px;
  padding-right: 25px;
}

.product__wrapper img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.product__description {
  width: 400px;
}

.product__addons {
  display: flex;
  width: 100px;
  height: 100px;
  font-size: 10px;
  margin-bottom: 150px;
}
